<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div layout:fragment="main-panel" class="chatAdmin">

    <section>

        <noscript>
            <h2>Sorry! Your browser doesn't support Javascript</h2>
        </noscript>

        <div id="username-page" class="nameAdmin">
            <div class="username-page-container">

                <form id="usernameForm" name="usernameForm">
                    <div class="form-group">
                        <input type="text" id="name" th:value="${name}"
                               autocomplete="off" class="form-control"th:if="${session.user != null}" style="display:none;"/>


                    </div>
                    <div class="form-group">
                        <button type="submit" class="accent username-submit">Start
                            Chatting</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="chat-page" class="hidden">
            <div class="chat-container">
                <div class="chat-header">
                    <h2>Chat with customer</h2>


                </div>
                <div class="connecting">Connecting...</div>
                <ul id="messageArea">
                    <div id="leave-message" >
                        <p><strong></strong>  </p>
                    </div>
                </ul>
                <form id="messageForm" name="messageForm" nameForm="messageForm">
                    <div class="form-group">
                        <div class="input-group clearfix">
                            <input type="text" id="message" placeholder="Type a message..."
                                   autocomplete="off" class="form-control" />
                            <button type="submit" class="primary">Send</button>
                            <button id="leave-btn" class="danger">Leave</button> <!-- Thêm nút Leave ở đây -->


                        </div>
                    </div>
                </form>
            </div>
        </div>
        <link rel="stylesheet" href="../../Users/css/mainl.css" />
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="../../Users/css/mainl.js"></script>

    </section>

</div>

</body>
</html>