<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Admin/layout}">
<head>
  <meta charset="UTF-8">
  <title>Edit Account</title>
</head>
<body>
<div layout:fragment="main-panel"class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card" style="width: 130%; min-width: 160%;">

          <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
              Basic form layout
            </p>



            <form th:object="${user}" th:action="@{/admin/edit}" method="POST">
              <div class="form-group">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{phone}">
                <input type="hidden" th:field="*{password}">
                <input type="hidden" th:field="*{username}">
                <input type="hidden" th:field="*{address}">
                <label for="name">Name</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name" t n>
              </div>

              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label>Role</label>
                <select class="form-control" >
                  <option th:each="role : ${roleList}"
                          th:value="${role}"
                          th:text="${role.name}"
                      ></option>
                </select>

              </div>



              <input type="submit" value="Save">
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
</html>