<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Admin/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div layout:fragment="main-panel"class="main-panel">
  <div class="content-wrapper" style="  background: #F4F5F7;
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    width: 195%;
    -webkit-flex-grow: 1;
    flex-grow: 1;" >

    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">List request</h4>
          <p class="card-description">

          </p>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>

                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Create date</th>
                <th>Department</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>

              <tr th:each="ticket, i : ${listTicket}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${ticket.name}">Name</td>
                <td th:text="${ticket.email}">Email</td>

                <td th:text="${#temporals.format(ticket.createTime, 'dd/MM/yyyy')}">Create date</td>


                <td th:text="${ticket.department?.name}" style=""></td>
                <td th:text="${ticket.statusString}">Status</td>




                <td>
                  <a >View</a>

                  <button class="btn btn-primary" th:data-id="${ticket.id}" data-toggle="modal" data-target="#updateTicketStatusModal">Update</button>
              </tbody>
            </table>

            <div th:if="${totalPages > 1}">
              <div class="d-flex justify-content-between col-md-6">
                <div class="col-md-4 text-center">
            <span th:if="${currentPage > 1}">
                <a th:href="@{/admin/pageTicket/} + ${currentPage - 1}">Last</a>
            </span>
                  <span hidden  th:unless="${currentPage > 1}">Last</span>
                </div>
                <div class="col-md-4 text-center">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{/admin/pageTicket/} + ${i}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
                </div>
                <div class="col-md-4 text-center">
            <span th:if="${currentPage < totalPages}">
                <a th:href="@{/admin/pageTicket/} + ${currentPage + 1}">Next</a>
            </span>
                  <span th:unless="${currentPage < totalPages}">Next</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- content-wrapper ends -->

</div>
<!-- Modal -->





</body>
</html>