section {
  background-image: url('../../Users/css/18.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username-page-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.username-submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.chat-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.chat-container {
  height: 400px; /* Chiều cao của phần tử cha */
  overflow-y: scroll; /* Thanh cuộn dọc */
  padding: 10px; /* Khoảng cách giữa nội dung và khung */
}
#chat-page {
  width: 90%; /* Tăng kích thước của khung chat */
  margin: 0 auto; /* Canh giữa khung chat */
}
.chat-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.connecting {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}

#messageArea {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
}

#messageArea li {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#messageArea li:nth-child(even) {
  background-color: #ddd;
}

#messageForm {
  padding: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#message {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.primary {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size:1.2rem;
  border-radius: 5px;
  cursor: pointer;
}