<!DOCTYPE html>

<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{User/Layout}">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body >

<header  style="background-color:#000;" layout:fragment="header" class="header navbar-fixed-top">
    <nav class="navbar"   role="navigation">
        <div class="container">
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <div class="logo">
                    <a class="logo-wrap" href="#body">
                        <img class="logo-img logo-img-main" src="img/logo.png" alt="FlameOnePage Logo">
                        <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="FlameOnePage Dark Logo">
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse nav-collapse">

                <!--div class="language-switcher">
                  <ul class="nav-lang">
                    <li><a class="active" href="#">EN</a></li>
                    <li><a href="#">DE</a></li>
                    <li><a href="#">FR</a></li>
                  </ul>
                </div--->

                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users">Home</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/about">About</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users">Services</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Submit a tickets</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/ticket">My ticket</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/chat">Chat</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="carousel-example-generic" layout:fragment="carousel-example-generic"class="carousel slide" data-ride="carousel">

</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div layout:fragment="about"id="about">

</div>
<!-- End About -->




<!-- Services -->
<div  layout:fragment="services"id="services">

</div>
<!-- End Service -->

<!-- Contact -->
<div layout:fragment="contact"id="contact">
    <!-- Contact List -->
    <div class="section-seperator">
        <div class="content-lg container">
            <div class="row">
                <!-- Contact List -->
                <div class="col-sm-4 sm-margin-b-50">
                    <h3><a href="http://ft-seo.ch/">Loc1</a> <span class="text-uppercase margin-l-20">Human Resources</span></h3>
                    <p> We provide customized human resources solutions to help businesses attract, retain, and develop top talent. Let us help you achieve your goals.</p>                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i> 123456789</li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i> gmail@gmail.com</li>
                    </ul>
                </div>
                <!-- End Contact List -->

                <!-- Contact List -->
                <div class="col-sm-4 sm-margin-b-50">
                    <h3><a href="http://ft-seo.ch/">Loc2</a> <span class="text-uppercase margin-l-20">Development</span></h3>
                    <p>     We offer custom development solutions to help businesses grow and thrive. Let us turn your ideas into reality.  </p>
                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i> 123456789</li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i> gmail@gmail.com</li>
                    </ul>
                </div>
                <!-- End Contact List -->

                <!-- Contact List -->
                <div class="col-sm-4 sm-margin-b-50">
                    <h3><a href="http://ft-seo.ch/">Loc3</a> <span class="text-uppercase margin-l-20">CEO</span></h3>
                    <p>As CEO of our company, I am committed to helping businesses reach their full potential through innovative solutions and exceptional service. Contact us to learn how we can help you.
                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i> 123456789</li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i>gmail@gmail.com</li>
                    </ul>
                </div>
                <!-- End Contact List -->
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Contact List -->

    <!-- Google Map -->
    <div class="map height-300">
         <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d15683.055833618631!2d106.729300959003!3d10.675420979508598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDQwJzQxLjciTiAxMDbCsDQzJzQ4LjgiRQ!5e0!3m2!1svi!2s!4v1679016321464!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen> </iframe>

    </div>
</div>
<!-- End Contact -->

</body>
</html>