<!doctype html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
       layout:decorate="~{User/Layout}">
<head>
  <title>Ticket</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



</head>
<body>
<header  style="background-color:#000;" layout:fragment="header" class="header navbar-fixed-top">
  <nav class="navbar"   role="navigation">
    <div class="container">
      <div class="menu-container js_nav-item">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>

        <div class="logo">
          <a class="logo-wrap" href="#body">
            <img class="logo-img logo-img-main" src="img/logo.png" alt="FlameOnePage Logo">
            <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="FlameOnePage Dark Logo">
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse nav-collapse">

        <!--div class="language-switcher">
          <ul class="nav-lang">
            <li><a class="active" href="#">EN</a></li>
            <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
          </ul>
        </div--->

        <div class="menu-container">
          <ul class="nav navbar-nav navbar-nav-right">
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users">Home</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/about">About</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users">Services</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Submit a tickets</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/ticket">My ticket</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/chat">Chat</a></li>
            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/users/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<div id="carousel-example-generic" layout:fragment="carousel-example-generic"class="carousel slide" data-ride="carousel">

</div>
<!-- Services -->
<div  layout:fragment="services"id="services">

</div>
<!-- End Service -->
<div layout:fragment="about"id="about">

</div>
<!-- Contact -->
<div layout:fragment="contact"id="contact">
  <!-- Contact List -->

</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>

